* {
  font-family: 'Sono', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
}

.topg {
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  font-size: 50px;
}

.candy{
  text-shadow: 0 0 20px #55c2da;
}

.shop{
  text-shadow: 0 0 20px #FF10F0;
}

.candyshop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  height: 70%;
  width: 90%;
  border-bottom: #2272FF 2px solid;
  display: flex;
}

.lowerg {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.topratedg {
  height: 80vh;
  width: 30vw;
}

.storeg {
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: end;
}

.storeimage {
  position: relative;
  height: 100vh;
  width: auto;
}

h1{
  font-size: 50px;
  color: white;
}

a{
  text-decoration: none;
}

h2{
  color: white;
}

a:hover{
  text-shadow: 0 0 15px #2272FF;
}

.lol {
  position:absolute;
  height: 70px;
  width: 200px;
  color: cyan;
  text-shadow: -7px 7px 4px black;
  font-size: 30px;
  background-color: transparent;
  border: 0;
}

.header{
  height: 90%;
  width: 90%;
  border-bottom: #2272FF 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topg {
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.candyshop h1{
  transform: rotate(-10deg);
}

.background{
  width: auto;
  top: -107px;
  left: -201px;
  z-index: -1;
  position: fixed;
  opacity: 0.2;
  text-shadow: 0 0 20px #FF10F0;
  transform: rotate(-25deg);
  white-space: nowrap;
}

.background1{
  width: auto;
  top: -100px;
  left: 350px;
  z-index: -1;
  position: fixed;
  opacity: 0.2;
  text-shadow: 0 0 20px #FF10F0;
  transform: rotate(-25deg);
  white-space: nowrap;
}