* {
  font-family: 'Sono', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
}

.topg {
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  font-size: 50px;
}

.header{
  height: 70%;
  width: 90%;
  border-bottom: #0bb 2px solid;
  display: flex;
}

.lowerg {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.topratedg {
  height: 80vh;
  width: 30vw;
}

.storeg {
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: end;
}

.storeimage {
  position: relative;
  height: 100vh;
  width: auto;
}

h1{
  font-size: 50px;
  color: white;
}

a{
  text-decoration: none;
}

h2{
  color: white;
}

a:hover{
  text-shadow: 0 0 15px aqua;
}

.lol {
  position:absolute;
  height: 70px;
  width: 200px;
  color: cyan;
  text-shadow: -7px 7px 4px black;
  font-size: 30px;
  background-color: transparent;
  border: 0;
}

.header{
  height: 70%;
  width: 90%;
  border-bottom: #0bb 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topg {
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}